Repository Endrju00/JSON-tools, pull requests merged in 2021-12, with the labels that each got.

#17 Fix validation
  src/main/java/pl/put/poznan/transformer/logic/JsonValidatorDecorator.java
Labels: bug, backend, json

#18 Getting full notation
  .idea/inspectionProfiles/Project_Default.xml
  .idea/runConfigurations.xml
  JsonTools.iml
  pom.xml
  src/main/java/pl/put/poznan/transformer/logic/JsonClarifierDecorator.java
  src/main/java/pl/put/poznan/transformer/logic/JsonCutterDecorator.java
  src/main/java/pl/put/poznan/transformer/logic/JsonDecorator.java
  src/main/java/pl/put/poznan/transformer/logic/JsonSaverDecorator.java
  src/main/java/pl/put/poznan/transformer/rest/JsonToolsController.java
Labels: help wanted, rest api, json

#19 Transformation selection
  pom.xml
  src/main/java/pl/put/poznan/transformer/logic/JsonTools.java
  src/main/java/pl/put/poznan/transformer/logic/JsonTransformer.java
  src/main/java/pl/put/poznan/transformer/logic/decorators/JsonClarifierDecorator.java
  src/main/java/pl/put/poznan/transformer/logic/decorators/JsonCutterDecorator.java
  src/main/java/pl/put/poznan/transformer/logic/decorators/JsonDecorator.java
  src/main/java/pl/put/poznan/transformer/logic/decorators/JsonMinifierDecorator.java
  src/main/java/pl/put/poznan/transformer/logic/decorators/JsonSaverDecorator.java
  src/main/java/pl/put/poznan/transformer/logic/decorators/JsonValidatorDecorator.java
  src/main/java/pl/put/poznan/transformer/rest/JsonToolsController.java
Labels: backend, rest api, json

#21 Transformation selection
  pom.xml
  src/main/java/pl/put/poznan/transformer/app/JsonToolsApplication.java
  src/main/java/pl/put/poznan/transformer/exceptions/ApiError.java
  src/main/java/pl/put/poznan/transformer/exceptions/AppExceptionHandler.java
  src/main/java/pl/put/poznan/transformer/exceptions/InvalidJson.java
  src/main/java/pl/put/poznan/transformer/exceptions/JsonCutterError.java
  src/main/java/pl/put/poznan/transformer/exceptions/JsonProcessingError.java
  src/main/java/pl/put/poznan/transformer/logic/JsonTransformer.java
  src/main/java/pl/put/poznan/transformer/logic/decorators/JsonClarifierDecorator.java
  src/main/java/pl/put/poznan/transformer/logic/decorators/JsonCutterDecorator.java
  src/main/java/pl/put/poznan/transformer/logic/decorators/JsonDecorator.java
  src/main/java/pl/put/poznan/transformer/logic/decorators/JsonSaverDecorator.java
  src/main/java/pl/put/poznan/transformer/logic/decorators/JsonValidatorDecorator.java
  src/main/java/pl/put/poznan/transformer/rest/JsonToolsController.java
Labels: enhancement, backend, rest api, json

#22 Java doc
  JsonTools.iml
  src/main/java/pl/put/poznan/transformer/logic/JsonTransformer.java
  src/main/java/pl/put/poznan/transformer/logic/decorators/JsonMinifierDecorator.java
  src/main/java/pl/put/poznan/transformer/logic/decorators/JsonValidatorDecorator.java
Labels: documentation

#23 Logging
  JsonTools.iml
  pom.xml
  src/main/java/pl/put/poznan/transformer/logic/JsonTransformer.java
  src/main/java/pl/put/poznan/transformer/logic/decorators/JsonClarifierDecorator.java
  src/main/java/pl/put/poznan/transformer/logic/decorators/JsonCutterDecorator.java
  src/main/java/pl/put/poznan/transformer/logic/decorators/JsonMinifierDecorator.java
  src/main/java/pl/put/poznan/transformer/logic/decorators/JsonSaverDecorator.java
  src/main/java/pl/put/poznan/transformer/logic/decorators/JsonValidatorDecorator.java
  src/main/java/pl/put/poznan/transformer/rest/JsonToolsController.java
  src/main/resources/application.properties
Labels: backend, logging
